@import "./fonts.css";

:root {
    --text: #252B42;
    --second-text: #737373;
    --light: #FFFFFF;
    --background: #FAFAFA;
    --primary: #FFA62B;
    --secondary: #00A0C1;
    --secondary-2: #16697A;
}

/* BASE CONFIG */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    border: none;
    background: none;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif ;
}
/* BASE CONFIG */

/* UNIQUE */
.container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 10px;
}
p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--second-text);
}
h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: var(--text);
}
h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--text);
}
h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--second-text);
}
/* UNIQUE */

/* HEADER SECTION */
.header {
    padding: 36px 0 76px;
    height: 100vh;
    background: url("../images/cover.jpg") var(--background) no-repeat top/contain;
}
.header__navbar {
    display: flex;
    align-items: center;
    margin-bottom: 116px;
}
.navbar__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    color: var(--text);
    margin-right: 117px;
}
.navbar__menu li {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: var(--second-text);
    margin-right: 21px;
}
.header__title {
    max-width: 509px;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: var(--text);
    margin-bottom: 35px;
}
.header__desc {
    max-width: 400px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--second-text);
    margin-bottom: 35px;
}
.header__btn-primary {
    width: 185px;
    height: 48px;
    padding: 10px;
    border-radius: 37px;
    background-color: var(--primary);
    color: var(--light);
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    margin: 0 10px 80px 0;
}
.header__btn-second {
    width: 154px;
    height: 48px;
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: var(--secondary);
}
.header__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}
.header__card {
    background-color: var(--light);
    padding: 35px 20px 35px 40px;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}
.header__card:last-child {
    background-color: var(--secondary);
}
.header__card svg {
    margin-bottom: 10px;
}
.header__card h3 {
    margin-bottom: 10px;
}
.header__card p {
    width: 90%;
}
.header__card:last-child h3 {
    color: var(--light);
}
.header__card:last-child p{
    color: var(--light);
}
/* HEADER SECTION */

/* FEATURES SECTION */
.features {
    padding: 80px 0;
    background-color: var(--background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 50px;
}
.features__title {
    grid-column: 1 / 5;
}
.features__title h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
.features__title p {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--second-text);
    text-align: center;
    margin: 0 auto;
}
.features__card {
    background-color: var(--light);
    padding: 30px;
    text-align: center;
}
.features__card svg {
    margin-bottom: 10px;
}
.features__card h2 {
    text-transform: uppercase;
    color: var(--text);
    margin-bottom: 10px;
}
.features__card h5 {
    text-transform: uppercase;
    color: var(--second-text);
}
/* FEATURES SECTION */

/* PRESENT SECTION */
.present {
    padding: 125px 0 80px;
    background-color: var(--background);
}
.present .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 45px;
}
.present h2 {
    text-transform: capitalize;
}
.card__content {
    padding: 30px;
    background-color: var(--light);
    text-align: left;
}
.card__content h5 {
    margin-bottom: 15px;
    color: var(--text);
}
.card__image img {
    object-fit: cover;
    object-position: center;
}
/* PRESENT SECTION */

/* ABOUT SECTION */
.about {
    padding: 100px 0;
    text-align: center;
}
.about__title {
    display: inline-block;
    max-width: 520px;
}
.about__title h2 {
    margin-bottom: 15px;
}
.about__title p {
    margin-bottom: 100px;
}
.about__main {
    display: grid;
    grid-template-columns: 597px 1fr;
    column-gap: 20px;
}
.about__video {
    position: relative;
    height: 442px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    background: url("../images/about-video-cover.jpg") no-repeat center/cover;
}
.about__video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
}
.video__btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    width: 97.6px;
    height: 98.4px;
    background-color: var(--secondary);
    border-radius: 73.6px;
    text-align: center;
    color: var(--light);
}
.about__content {
    max-width: 333px;
    text-align: start;
    align-self: end;
    justify-self: end;
}
.about__content h2 {
    margin-bottom: 10px;
}
.about__content p {
    margin-bottom: 50px;
}
.content__item {
    display: flex;
    column-gap: 20px;
    margin-bottom: 52px;
}
.content__item svg {

}
.content__item h5 {
    margin-bottom: 5px;
}
/* ABOUT SECTION */

/* CLIENTS SECTION */
.clients {
    background: var(--background);
}
.clients__logo {
    height: 175px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    column-gap: 50px;
}
.clients__logo svg {
    fill: var(--second-text);
}
.subscribe {
    background: linear-gradient(var(--background) 50%, var(--text) 50%);
}
.subscribe .container {
    padding: 20px 32px;
}
.clients__subscribe {
    padding: 30px 50px;
    background-color: var(--secondary-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clients__subscribe h3 {
    color: var(--light);
    max-width: 260px;
}
.clients__email {
    width: 450px;
    height: 58px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: var(--second-text);
    padding: 20px;
}
.clients__subscribe form {
    position: relative;
}
.clients__subscribe button {
    height: 100%;
    width: 117px;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--primary);
    border: 1px solid #E6E6E6;
    border-radius: 0 5px 5px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--light);
}
/* CLIENTS SECTION */

/* CONTACT SECTION */
.contact {
    padding: 80px 0 148px;
    text-align: center;
    background-color: #F3F3F3;
}
.contact__title {
    margin-bottom: 80px;
}
.contact__title h2 {
    margin-bottom: 10px;
}
.contact__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 32px;
    align-items: center;
}
.contact__card {
    height: 333px;
    padding: 50px;
    background-color: var(--light);
}
.contact__card svg {
    margin-bottom: 15px;
}
.contact__card h6:nth-child(3) {
   margin-bottom: 15px;
}
.contact__card h5 {
    color: var(--text);
    margin-bottom: 15px;
}
.contact__card button {
    width: 160px;
    height: 44px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--primary);
}
.center-card {
    height: 393px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--text);
}
.center-card h6 {
    color: var(--light);
}
.center-card h5 {
    color: var(--light);
}
.center-card button {
    border: 1px solid var(--light);
    color: var(--light);
}
/* CONTACT SECTION */

/* FOOTER SECTION */
.footer__contact {
    background-color: var(--background);
    padding: 40px 0;
}
.footer__contact .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__contact-title h3 {
    color: var(--text);
    margin-bottom: 10px;
}
.footer__contact button {
    width: 160px;
    height: 58px;
    background-color: var(--primary);
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--light);
    margin-right: 38px;
}
.footer__main {
    padding: 50px 0;
    background-color: var(--secondary-2);
}
.footer__main .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}
.footer__nav h5 {
    color: var(--light);
    margin-bottom: 20px;
}
.footer__link {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--light);
    margin-bottom: 10px;
}
.footer__main-contact h5 {
    margin-bottom: 20px;
    color: var(--light);
}
.main-contact-item {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
}
.main-contact-item h6 {
    color: var(--light);
}
.footer__copyright {
    padding: 25px 0;
    background-color: var(--background);
}
.footer__copyright .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__social {
    padding-right: 20px;
}
.footer__social a {
    margin-left: 20px;
}
/* FOOTER SECTION */